.font__14 {
  font-size: 1.4rem;
  font-weight: 600;
}

.font__16 {
  font-size: 1.6rem;
  font-weight: 400;
}

.font__16--500 {
  font-size: 1.6rem;
  font-weight: 500;
}

.font__18 {
  font-size: 1.8rem;
  font-weight: 400;
}

.font__20 {
  font-size: 2rem;
  font-weight: 400;
}

.font__22 {
  font-size: 2.2rem;
  font-weight: 400;
}

.font__22--500 {
  font-size: 2.2rem;
  font-weight: 500;
}

.font__24 {
  font-size: 2.4rem;
  font-weight: 400;
}

.font__30 {
  font-size: 3rem;
  font-weight: 700;
}

.font__30--500 {
  font-size: 3rem;
  font-weight: 500;
}

.font__34--500 {
  font-size: 3.4rem;
  font-weight: 500;
}

.font__44 {
  font-size: 4.4rem;
  font-weight: 700;
}

.font__44--500 {
  font-size: 4.4rem;
  font-weight: 500;
}

.font__88 {
  font-size: 8.8rem;
  font-weight: 700;
}
